body {
    background-image: url("../image/homebg.png");
    color: #404040;
    font-family: Helvetica,Arial,Sans-serif;
    font-size: 0.8em;
    margin: 0;
    text-align: center;
}
div#container {
	margin: 0 auto;
    min-height: 500px;
    overflow: auto;
    text-align: left;
    width: 975px;
}

div#header {
	height: 150px;
    width: 970px;
}

div#header div#hdlogo{
	background-image: url("../image/hd-logo.png");
    float: right;
    height: 100px;
    margin-top: 35px;
    position: relative;
    width: 400px;
}

div#main-content-home {
    min-height: 315px;
    overflow: auto;
}
div#main-content-home div#user{
    margin-left: 10px;
    color: #FFFFFF;
    font-size: 15px;
    
}
div#main-content-home div#navigations {
    margin-left: 5px;
    margin-right: 5px;
    min-height: 310px;
    overflow: auto;
    
}
div#main-content-home div#navigations span {
	margin: 5px;
    width: 231px;
    height: 102px;
    float: left;
}

div#main-content-home div#navigations span#my-learning-center {
	background-image: url("../image/my-learning-center.png");
}
div#main-content-home div#navigations span#certifications {
	background-image: url("../image/certifications.png");
}
div#main-content-home div#navigations span#live-events {
	background-image: url("../image/live-events.png");
}
div#main-content-home div#navigations span#course-collections {
	background-image: url("../image/course-collections.png");
}
div#main-content-home div#navigations span#search {
	background-image: url("../image/search.png");
}
div#main-content-home div#navigations span#recent {
	background-image: url("../image/recent.png");
}
div#main-content-home div#navigations span#whats-new {
	background-image: url("../image/whats-new.png");
}
div#main-content-home div#navigations span#product-families {
	background-image: url("../image/product-families.png");
}

div#main-content-home div#navigations div#content-1 {
	background-image: url("../image/home-content1.png");
	margin: 5px;
    width: 472px;
    height: 215px;
    float: left;
}

div#main-content-home div#navigations div#content-2 {
	background-image: url("../image/home-content2.png");
	margin: 5px;
    width: 472px;
	height: 215px;
    float: left;

}


